body {
	margin: 0;
	padding: 0;
}

.circle {
	transition-property: width, height;
	transition-duration: 2s;
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	background-color: red;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;


	width: 0px;
	height: 0px;
/*
	top: 150px;
	left: 150px;*/
}